@charset "UTF-8";
    @media screen and (max-width:767px){
    *{
        margin: 0px;
        padding: 0px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    main{
        max-width: 767px;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.048);
        
    }
    header{
        margin:0px;
        padding: 0px;
        height:100px;
        max-width: 767px;
        width: 100%;
        text-align: center;
        background-color:blue;
        box-shadow: 50px;
        display: flex;
        justify-content: center;
        
    }
    .cabecalho{
        display:none;
    }
    .cabecalho img{
        display: none;
    }
    
    #menu{
        display: none;
    }
    #menu-h{
        display: none;
    }
    
    #menu-h li{
        display: none;
        
    }
    #menu-h li a {
        text-decoration: none;
        color:white;
        padding: 8px;
        background-color:blue;
        margin-left:8.9px ;
        border-radius: 10px 10px 0px 0px;
    }
    #menu-h li a:hover{
        background-color:white;
        color:blue;
    }

    .celular img{
        max-width: 767%;
        width: 100%;
        height: 50px; 
        margin-left: 120px;
        margin-top: 10px;

    }


    i#burguer{
    background-color:blue;
    color:white;
    text-align: center;
    margin-top: 70px;
    margin-right: 190px;
   
    
    
    }
    i#burguer:hover{
        background-color: white;
        color: blue;

    }
    
    menu{
        display: none;
        
    }
    menu ul{
        list-style-type: none;
        position: absolute;
        z-index:999;
        width: 100%;
        margin-left: -212px;
    }
    menu a{
        display: block;
        padding: 10px;
        text-decoration:none;
        background-color:blue;
        color: white;
        text-align: center;
        border: 2px solid white;
        
    }
    menu > ul > li > a:hover{
        background-color: white;
        color: blue;
    }
   
    
    
    #article1{
        max-width: 767px;
        width: 100%;
        text-align: center;
    
    }
    .slider{
        margin: 0 auto;    
        width: 425px;
        height: 250px;
        overflow: hidden;
    }
    
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    
    .slide{
        width: 25%;
        position:relative;
        transition: 2s;
    }
    .slide img{
        width: 425px;
    }
    
    .manual-navigation{
        position: absolute;
        width: 425px;
        margin-top: -205px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border:2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:Last-child){
        margin-right: 10px;
    }
    .manual-btn:hover{
        background-color: #FFF;
    }
    
    
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    
    .navigation-auto div{
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto{
        position: absolute;
        width: 425px;
        margin-top: 195px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:Last-child){
        margin-right: 10px;
    }
    #radio1:checked~.navigation-auto .auto-btn1{
        background-color: #FFF;
    }
    #radio2:checked~.navigation-auto .auto-btn2{
        background-color: #FFF;
    }
    #radio3:checked~.navigation-auto .auto-btn3{
        background-color: #FFF;
    }
    #radio4:checked~.navigation-auto .auto-btn4{
        background-color: #FFF;
    }
    
    
    #article2{
        text-align: center;
        max-width: 767px;
        width: 100%;
        margin:auto;
        margin-top: -67px;
    }
    
    .lancamentos{
        display:flex;
        justify-content: center;
        width: 100%;
    }
    .modelos{
        height: 100px;
        width: 200px;
    }
    .modelos a img{
        width: 100px;
        height: 50px;
    }
    
    
    #article3{
        text-align: center;
        max-width: 767px;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.046);
    }
    .servicos{
        
        margin: auto;
        display: flex;
        justify-content: center;
        
    
    }
    .imgservicos{
        font-size: 0.7em;
        max-width: 767px;
        width:100%;
        height: 190px;
        width: 767px;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 20px;     
    }
    .imgservicos p{
        margin-top: 40px;
    }
    #imgcelular img{
        max-width: 767px;
        width: 250px;
        margin-right:0px;
        padding-right: 0px;
        box-shadow: -0.4px 0.5px 0.5px 0.5px black;
    }
    #imgcelula2 img{
        max-width: 767px;
        width: 250px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        box-shadow: 0.05px 0.5px 0.05px 0.5px black;
    }

    h2{
        height: 20px;
        margin-top: 30px;
        margin-bottom: 5px;
        background-color:blue;
        color:white;
        border-radius: 0px 0px 5px 5px;
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 15px;
        text-shadow: 1px 1px 1px 0.5px black;
    }
    
    footer{
        margin-top: -30px;
        text-align: center;
        position:relative;
        height: 100px;
        background-color:blue;
        color:white;
        left: 0;
        bottom: 0;
        border-radius: 5px 5px 0px 0px ;
        max-width: 767px;
        width: 100%;
        text-align: center;
    }
    #foot1{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        width:100%;
    }
    .informacoesfoot{
        width: 50%;
        margin-right: 10px;
    }
    .informacoesfoot a img{
        height: 30px;
        width: 30px;
        margin-top: 35px;
        margin-right: 10px;
    }
    .informacoesfoot p{
        margin-top: 10px;
        margin-right: 50px;
    }
    .informacoesfoot a{
        text-decoration: none;
        color:white;
        
    }
    #contato{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    *{
        margin: 0px;
        padding: 0px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    main{
        max-width: 1023px;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.048);
        
    }
    header{
        margin:0px;
        padding: 0px;
        height:90px;
        width: 100%;
        text-align: center;
        background-color:blue;
        box-shadow: 50px;
        display: flex;
        
    }
    .cabecalho{
        width: 30%;
    }
    .cabecalho img{
        height: 50px;
        width: 150px;
        margin-top: 25px;
        margin-left: 15px;
    }
    
    #menuh{
        width: 100%;
    }
    #menu-h{
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 63px;
        height: 35px;
        
    }
    
    #menu-h li{
        display: inline;
        
    }
    #menu-h li a {
        text-decoration: none;
        color:white;
        padding: 8px;
        background-color:blue;
        margin-left:5px ;
        border-radius: 10px 10px 0px 0px;
    }
    #menu-h li a:hover{
        background-color:white;
        color:blue;
    }
    .celular{
        display: none;
    }
    #hamb{
        display: none;
    }
    
    
    #article1{
        width: 100%;
        text-align: center;
    
    }
    .slider{
        margin: 0 auto;    
        width: 768px;
        height: 450px;
        overflow: hidden;
    }
    
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    
    .slide{
        width: 25%;
        position:relative;
        transition: 2s;
    }
    .slide img{
        width: 768px;
    }
    
    .manual-navigation{
        position: absolute;
        width: 768px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border:2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:Last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: #FFF;
    }
    
    
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    
    .navigation-auto div{
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto{
        position: absolute;
        width: 768px;
        margin-top: 360px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:Last-child){
        margin-right: 40px;
    }
    #radio1:checked~.navigation-auto .auto-btn1{
        background-color: #FFF;
    }
    #radio2:checked~.navigation-auto .auto-btn2{
        background-color: #FFF;
    }
    #radio3:checked~.navigation-auto .auto-btn3{
        background-color: #FFF;
    }
    #radio4:checked~.navigation-auto .auto-btn4{
        background-color: #FFF;
    }
    
    
    #article2{
        text-align: center;
        max-width: 1500px;
        width: 100%;
        margin:auto;
        margin-top: -136px;
    }
    
    .lancamentos{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .modelos{
        height:210px;
        width: 400px;
       
    }
    
    
    #article3{
        text-align: center;
        max-width: 1500px;
        width: 100%;
        margin: auto;
    }
    .servicos{
        
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        padding-top: -40px;
       
    
    }
    
    .imgservicos{
        font-size: 1.5em;
        max-width: 768px;
        width:100%;
        height: 250px;
        width: 500px;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;    
        
    }
    .imgservicos p{
        margin-top: -50px;
    }
    #imgcelular img{
        max-width: 1023px;
        width: 500px;
        margin-right:0px;
        padding-right: 0px;
        box-shadow: 0.05px 0.5px 0.5px 0.5px black;
    }
    #imgcelula2 img{
        max-width: 1023px;
        width: 500px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: -50px;
        box-shadow: 0.05px 0.5px 0.05px 0.5px black;
    }    
    
    h2{
        height: 40px;
        margin-top: 70px;
        margin-bottom: 5px;
        background-color:blue;
        color:white;
        border-radius: 0px 0px 5px 5px;
        padding-top: 15px;
    }
    
    footer{
        text-align: center;
        position:relative;
        height: 100px;
        background-color:blue;
        color:white;
        left: 0;
        bottom: 0;
        border-radius: 5px 5px 0px 0px ;
        width: 100%;
        text-align: center;
        margin-top: -50px;
    }
    #foot1{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        width:100%;
    }
    .informacoesfoot{
        width: 50%;
    }
    .informacoesfoot a img{
        height: 30px;
        width: 30px;
        margin-top: 40px;
        margin-right: 10px;
        display: inline;
    }
    .informacoesfoot p{
        margin-top: 20px;
    }
    .informacoesfoot a{
        text-decoration: none;
        color:white;
        margin-top: 40px;
    }
    #contato{
        margin-top: 40px;
    }
    }

@media screen and (min-width:1024px) and (max-width:1439px){
*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

main{
    max-width: 1439px;
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.048);
    
}
header{
    margin:0px;
    padding: 0px;
    height:110px;
    width: 100%;
    text-align: center;
    background-color:blue;
    box-shadow: 50px;
    display: flex;
    
}
.cabecalho{
    width: 30%;
}
.cabecalho img{
    margin-top: 10px;
    margin-left: 20px;
}

#menu{
    width: 100%;
}
#menu-h{
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 83px;
    margin-left: 60px;
    height: 35px;
    
}

#menu-h li{
    display: inline;
    
}
#menu-h li a {
    text-decoration: none;
    color:white;
    padding: 8px;
    background-color:blue;
    margin-left:8.9px ;
    border-radius: 10px 10px 0px 0px;
}
#menu-h li a:hover{
    background-color:white;
    color:blue;
}
.celular{
    display: none;
}
#hamb{
    display: none;
}


#article1{
    width: 100%;
    text-align: center;

}
.slider{
    margin: 0 auto;    
    width: 1024px;
    height: 450px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position:relative;
    transition: 2s;
}
.slide img{
    width: 1024px;
}

.manual-navigation{
    position: absolute;
    width: 1024px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border:2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:Last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #FFF;
}


#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1024px;
    margin-top: 395px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}
#radio1:checked~.navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked~.navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked~.navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked~.navigation-auto .auto-btn4{
    background-color: #FFF;
}


#article2{
    text-align: center;
    max-width: 1500px;
    width: 100%;
    margin:auto;
    margin-top: -70px;
}

.lancamentos{
    display: flex;
    justify-content: center;
    width: 100%;
}
.modelos{
    height:210px;
    width: 400px;
   
}


#article3{
    text-align: center;
    max-width: 1500px;
    width: 100%;
    margin: auto;
}
.servicos{
    margin: auto;
    display: flex;
    justify-content: center;
    

}
.imgservicos{
    font-size: 1.8em;
    max-width: 1439px;
    width:100%;
    height: 250px;
    width: 500px;
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;   
}
.imgservicos p{
    margin-top: -50px;
}
#imgcelular img{
    max-width: 1439px;
    width: 500px;
    margin-right:0px;
    padding-right: 0px;
    box-shadow: 0.05px 0.5px 0.5px 0.5px black;
}
#imgcelula2 img{
    max-width: 1439px;
    width: 500px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: -50px;
    box-shadow: 0.05px 0.5px 0.05px 0.5px black;
}

h2{
    height: 40px;
    margin-top: 70px;
    margin-bottom: 5px;
    background-color:blue;
    color:white;
    border-radius: 0px 0px 5px 5px;
    padding-top: 15px;
}

footer{
    margin-top: -70px;
    text-align: center;
    position:relative;
    height: 100px;
    background-color:blue;
    color:white;
    left: 0;
    bottom: 0;
    border-radius: 5px 5px 0px 0px ;
    width: 100%;
    text-align: center;
}
#foot1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width:100%;
}
.informacoesfoot{
    width: 50%;
}
.informacoesfoot a img{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-right: 10px;
}
.informacoesfoot p{
    margin-top: 15px;
}
.informacoesfoot a{
    text-decoration: none;
    color:white;
    
}
#contato{
    margin-top: 30px;
}
}

@media screen and (min-width:1440px){
    *{
        margin: 0px;
        padding: 0px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    main{
        max-width: 1440px;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.048);
        
    }
    header{
        margin:0px;
        padding: 0px;
        height:120px;
        width: 100%;
        text-align: center;
        background-color:blue;
        box-shadow: 50px;
        display: flex;
        
    }
    .cabecalho{
        width: 30%;
    }
    .cabecalho img{
        margin-top: 15px;
        margin-left: 250px;
    }
    
    #menu{
        width: 100%;
    }
    #menu-h{
        list-style: none;
        padding: 0;
        width: 100%;
        margin-top: 93px;
        margin-left: 150px;
        height: 35px;
        
    }
    
    #menu-h li{
        display: inline;
        
    }
    #menu-h li a {
        text-decoration: none;
        color:white;
        padding: 8px;
        background-color:blue;
        margin-left:8.9px ;
        border-radius: 10px 10px 0px 0px;
    }
    #menu-h li a:hover{
        background-color:white;
        color:blue;
    }
    .celular{
        display: none;
    }
    #hamb{
        display: none;
    }
    
    
    #article1{
        width: 100%;
        text-align: center;
    
    }
    .slider{
        margin: 0 auto;    
        width: 1440px;
        height: 512px;
        overflow: hidden;
    }
    
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    
    .slide{
        width: 25%;
        position:relative;
        transition: 2s;
    }
    .slide img{
        width: 1440px;
    }
    
    .manual-navigation{
        position: absolute;
        width: 1440px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border:2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:Last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: #FFF;
    }
    
    
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    
    .navigation-auto div{
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto{
        position: absolute;
        width: 1440px;
        margin-top: 480px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:Last-child){
        margin-right: 40px;
    }
    #radio1:checked~.navigation-auto .auto-btn1{
        background-color: #FFF;
    }
    #radio2:checked~.navigation-auto .auto-btn2{
        background-color: #FFF;
    }
    #radio3:checked~.navigation-auto .auto-btn3{
        background-color: #FFF;
    }
    #radio4:checked~.navigation-auto .auto-btn4{
        background-color: #FFF;
    }
    
    
    #article2{
        text-align: center;
        max-width: 1440px;
        width: 100%;
        margin:auto;
        margin-top: -70px;
    }
    
    .lancamentos{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .modelos{
        height:210px;
        width: 400px;
       
    }
    
    
    #article3{
        text-align: center;
        max-width: 1440px;
        width: 100%;
        margin: auto;
    }
    .servicos{
        
        margin: auto;
        display: flex;
        justify-content: center;
    
    }
    .imgservicos{
        font-size: 2em;
        max-width: 1440px;
        width:100%;
        height:300px;
        width: 500px;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;    
    }
    .imgservicos p{
        margin-top: -50px;
    }
    #imgcelular img{
        max-width: 1440px;
        width: 500px;
        margin-right:0px;
        padding-right: 0px;
        box-shadow: -0.05px 0.5px 0.5px 0.5px black;
    }
    #imgcelula2 img{
        max-width: 1440px;
        width: 500px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: -50px;
        box-shadow: 0.05px 0.5px 0.05px 0.5px black;
    }
    
    h2{
        height: 40px;
        margin-top: 70px;
        margin-bottom: 5px;
        background-color:blue;
        color:white;
        border-radius: 0px 0px 5px 5px;
        padding-top: 15px;
    }
    
    footer{
        margin-top: -70px;
        text-align: center;
        position:relative;
        height: 100px;
        background-color:blue;
        color:white;
        left: 0;
        bottom: 0;
        border-radius: 5px 5px 0px 0px ;
        width: 100%;
        text-align: center;
    }
    #foot1{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        width:100%;
    }
    .informacoesfoot{
        width: 50%;
    }
    .informacoesfoot a img{
        height: 30px;
        width: 30px;
        margin-top: 40px;
        margin-right: 50px;
    }
    .informacoesfoot p{
        margin-top: 20px;
    }
    .informacoesfoot a{
        text-decoration: none;
        color:white;
        
    }
    #contato{
        margin-top: 20px;
    }
}